[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-vk
Exec=harbour-vk
Name=harbour-vk
# translation example:
# your app name in German locale (de)
Name[de]=harbour-vk

